<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Jelszó visszaállítás</h3>
        <p class="text-center">Kérjük, adja meg e-mail címét a jelszó visszaállításának kéréséhez.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Vissza lépnél ? <span class="redirect" routerLink="/sign-in">Jelentkezz be</span></span>
      </div>
    </div>
  </div>