<div class="modalContent">
    <h2> Foglalás </h2>
    <div class="formGroup">
        <p #date>{{ dateText }}</p>
        <p #title>{{ movieText }}</p>
    </div>
    <form>
       <div class="formGroup">
        <input type="text" class="formControl" placeholder="Név" #name required>
    </div>
    <div class="formGroup">
        <input type="text" class="formControl" placeholder="Lefoglalt helyek" #places required>
    </div> 
    </form>
    
    <div class="formGroup">
        <button class="btn btn-primary-outline reserveBtn formControl" (click)="addReserve(date.innerHTML, title.innerHTML, name.value, places.value )">Foglalás véglegesítése</button>
    </div>
</div>