<div class="modalContent">
    <h2> Foglalás </h2>
    <div class="formGroup">
        <p #date>{{ dateText }}</p>
        <p #title>{{ movieText }}</p>
    </div>
    <form>
       <div class="formGroup">
        <input type="text" class="formControl" placeholder="Név" #name required>
    </div>
    <div class="formGroup">
        <div class="row" *ngFor="let row of rows; index as i">
            <div class="col" *ngFor="let col of cols; index as j">
                <ng-container *ngIf="row == 4"><div class="hidden"></div></ng-container>
                <ng-container *ngIf="col == 2 || col == 7"><div class="hidden"></div></ng-container>
                <ng-container *ngIf="row != 3 && col != 2 && col!=7">
                    <button class="seatBtn" #seat (click)="logPosition(seatPosition.innerHTML, this.seat)"><p class="btnText" #seatPosition>{{ row+1 }}:{{ col }}</p><mat-icon>event_seat</mat-icon></button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="formGroup">
        <!-- <input type="text" class="formControl" placeholder="Lefoglalt helyek" value="{{ placesText }}" #places required> -->
        <p>
            Lefoglalt helyek: 
            <ng-container *ngFor="let place of placesText">{{ place }}</ng-container>
        </p>
    </div> 
    </form>
    
    <div class="formGroup">
        <button class="btn btn-primary-outline reserveBtn formControl" (click)="addReserve(date.innerHTML, title.innerHTML, name.value)">Foglalás véglegesítése</button>
    </div>
</div>