<div class="modalContent">
    <h2> Foglalás </h2>
    <div class="formGroup">
        <p>{{ dateText }}</p>
        <p>{{ movieText }}</p>
    </div>
    <div class="formGroup">
        <input type="text" class="formControl" placeholder="Név">
    </div>
    <div class="formGroup">
        <input type="text" class="formControl" placeholder="Lefoglalt helyek">
    </div>
    <div class="formGroup">
        <button class="btn btn-primary-outline reserveBtn formControl">Foglalás véglegesítése</button>
    </div>
</div>