<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CinemaApp</title>
</head>
<body>
	<nav>
		<ul>
			<li><a routerLink="/" routerLInkActive="active"><fa-icon [icon]="faFilm" class="Icons"></fa-icon>Filmek</a></li>
			<li *ngIf="authService.isLoggedIn"><a routerLink="/" routerLinkActice="active"><fa-icon [icon]="faTicket" class="Icons"></fa-icon>Foglalások</a></li>
			<li *ngIf="!authService.isLoggedIn"><a routerLink="/login" routerLinkActice="active">Bejelentkezés</a></li>
			<li *ngIf="!authService.isLoggedIn"><a routerLink="/register" routerLInkActive="active">Regisztráció</a></li>
			<li *ngIf="authService.isLoggedIn"><a (click)="authService.SignOut()"><fa-icon [icon]="faArrowRightFromBracket" class="Icons"></fa-icon>Kijelentkezés</a></li>
		</ul>
	</nav>
	<router-outlet></router-outlet>
</body>
</html>