.loginForm{

    width: 400px;
    position:relative;
    top:30%;
    left:50%;
    margin-left:-200px;
    margin-top:-200px;
    text-align: center;

    .formGroup{
        margin-bottom: 10px;
    }

    .loginBtn{
        border: 1px solid black;
        border-radius: 100px;
    }


}