<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Köszönjük a regisztrációt</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Elküldtük a visszaigazoló e-mail-t a <strong>{{user.email}}</strong> címre.</p>
          <p class="text-center">Kérjük, ellenőrizze e-mailjeit, és kattintson a linkre az e-mail címének megerősítéséhez.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Igazoló e-mail újraküldése
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Vissza szeretnél lépni?<span class="redirect" routerLink="/sign-in"> Jelentkezz be</span></span>
      </div>
    </div>
  </div>