.movieList {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	background-color: white;

	th {
		background-color: gray;
		color: white;
		text-align: center;
	}

	tr td {
		text-align: center;
	}
	
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	tr:hover{
		background-color: #ddd;
	}

	.reserveBtn{
		border: none;
		background-color: transparent;
	}

	.bottom-border{
		border-bottom: 1px solid #d9d2d2;
		margin-bottom: 10px;
	}

}


.movieImage {

	width: 200px;
	height: 200px;

}